html { overflow-y: hidden; }

body {
    background-color: #F4F4F4;
    font-family: Cocomat,sans-serif;
}

.info {
    text-align: center;
    color: white;
    padding: 5%;
}

.images {
    position: absolute;
}

.principalContent {
    position: absolute;
    background-color: #906E2D;
    width: 100%;
    bottom: 0;
    height: 300px;
    text-align: center;
    color: white;
    box-shadow: black 0px 4px 12px;
}

.principalContent:before {

    box-shadow: black 0px 4px 12px;
    content: '';
    display: block;
    position: absolute;
    border-radius: 150% 80%;
    width: 150%;
    height: 1000%;
    transform: translate(-50%, -21%);
    background-color: #678E47;
    z-index: -1;
}
